

#main section {
    background-color: white;
    float: right;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    margin: 70px 0 200px 0;
}

.aboutUs section h1 {
    margin: 10px;
    font-size: 60px;
    margin-bottom: 20px;

}

.aboutUs section p {
    margin: 20px 0 20px 0;
    font-size: 28px;
    float: left;
    text-align: justify;
}

.termsAndCondition h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.termsAndCondition article {
    width: 100%;
}