
/* +--------------------+ */
/* | ALL MANGA MENU CSS | */
/* +--------------------+ */

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    
}


body{
    /* background-image: url(https://www.teleadhesivo.com/es/img/fomb028-png/folder/products-detalle-png/fotomurales-textura-ladrillo-munich.png); */
    background-color: grey;
    margin: 60px 0 0 0;
}
.neontext {
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 10px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 30px rgb(255, 0, 98);
}

body{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(216,20,68,1) 100%);
}
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

header h3{
    font-size: 30px;
    padding: 15px 20px 10px 20px;
    position: absolute;
    top: 0px;
}

header h3 a{
    text-decoration: none;
    color: white;
}

/**Navegación**/
#mainNav {
    text-align: center;
}

#mainNav ul{
    background-color: rgb(0, 0, 0);
    height: 60px;
}

#mainNav ul li {
    display: inline-block;
    width: 10%;
    margin: 15px 5px 5px 5px;
    padding: 5px;
    border-radius: 7px; 
}

#mainNav ul li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#mainNav ul li a:hover {
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 10px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 30px rgb(255, 0, 98);
}

/* BARRA DE BUSQUEDA */
#search{
    position: absolute; 
    right: 200px;
    top: 20px;
}

#search input{
    height: 25px;
    width: 180px;
    padding: 3px 0 0 10px;
    font-size: 15px;
    border-radius: 100px;
    border: white solid 1px;
}

#search input:hover{
    border: solid 1px #d81444;
}

#search img{
    position: relative;
    height: 20px;
    bottom: -3px;
    cursor: pointer;
}

/* AVATAR */
.avatar img{
    height: 220px;
    border-radius: 100%;
    margin: 50px 0 30px 90px;
    float: left;
    box-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 40px rgb(255, 0, 98);
    pointer-events: none;
}

.avatar p{
    color: white;
    position: absolute;
    font-weight: 600;
    font-size: large;
    left: 0;
    top: 230px;
    padding: 10px 100% 10px 20px;
    background-color: rgba(0, 0, 0, 0.553);
    z-index: -1;

}


/* LATERAL DISPLAY */

#opcionMovil{
    display: none;
}
label i{
    padding: 5px;
}

label i{
    font-size: 180%;
    color: white;
    position: fixed;
    right: 0;
    margin: 17px 10px 0 0;
    cursor: pointer;
    padding:  5px 5px 5px 5px;
    size-adjust: 20%;
    z-index: 3;
}

label i:hover {
    color: #d81444;
}
#check{
    display: none;
}

#LinesUp{
    color: red;
    z-index: 4;

}

    /* Log put bottom */
    #logout{
        position: relative;
        top: 33%;
    }

    #logout:hover{
        background-color: #d81444;
    }
    
#cuentaLateral{
    float: left;
    left: 100%;
    
}
    #cuentaLateral ul{
        position: fixed;
        width: 20%;
        height: 110%;
        right: -100%;
        margin-top: -60px;
        transition: all .5s;
        background-color: rgba(62, 62, 62, 0.9);
        z-index: 1;
    }
    #cuentaLateral ul li{
        display: block;
        margin: 20px 20px 20px 20px;
        padding: 10px 0 10px 0;
        background-color:rgb(0, 0, 0);
        border-radius: 10px;
        text-align: center;
        clear: both;
    }

    #cuentaLateral ul li:hover{
        background-color:rgb(41, 41, 41);
    }
        /* Content */

    #cuentaLateral ul li a{
        color: white;
        font-size: 110%;
        width: 100%;
        font-weight: 900;
        text-decoration: none;
    }

#check:checked ~ ul{
    right:0;
}







/******************** Main ********************/

main{
    background-color: rgba(0, 0, 0, 0.699);
}


/* Section de portada */
.portada{
    float: left;
    height: 600px;
    margin: 30px 5px 0 12%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 40px rgb(255, 0, 98);
}

.portada h2{
    color: white;
    position: relative;
    top: 30px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: 0 0 0 10%;
    border-bottom: 10px white double;
}

.portada img{
    margin: 60px 0 0 25%;
}

/* Seccion de sinopsis */
.sinopsis{
    float: left;
    height: 300px;
    margin: 30px 5px 20px 60px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 40px rgb(255, 0, 98);
}
.sinopsis p{
    position: relative;
    color: white;
    font-size: 18px;
    text-align: justify;
    margin: 0 30px 30px 30px;
}

/* Primera letra mas grande */
.sinopsis p::first-letter{
    font-size: 2em;
    font-weight: bold;
    line-height: .9em;
    float: left;
    margin: .1em;
}

.sinopsis h2{
    color: white;
    font-size: 30px;
    width: 80%;
    margin: 20px 0 20px  10%;
    text-align: center;
    border-bottom: 2px solid white;
}


/* Etiquetas */
.etiquetas{
    float: left;
    height: 250px;
    margin: 30px 5px 20px 60px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 40px rgb(255, 0, 98);
}
.etiquetas h2{
    color: white;
    font-size: 30px;
    width: 80%;
    margin: 20px 0 20px  10%;
    padding: 0 0 5PX 0;
    text-align: center;
    border-bottom: 2px solid white;
}
/* Articulo etiquetas */
.etiquetas a{
    float: left;
    font-size: 25px;
    color: white;
    margin: 20px;
    padding: 5px 20px 5px 20px;
    border: solid white 2px;
    background-color: rgb(36, 36, 36);
    border-radius: 20PX;
}

.etiquetas a:hover{
    background-color: rgb(75, 75, 75) ;
}
.etiquetas i{
    font-size: 18px;
}



/* seccion Capitulos */
.capitulos{
    float: left;
    height: 1000px;
    margin: 30px 5px 100px 4%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 40px rgb(255, 0, 98);
}

.capitulos article{
    width:90%;
    background-color: rgb(182, 182, 182);
    margin: 30px 20px 30px 35px;
    padding: 10px 0 10px 0;
    border-radius: 20px;
}

.capitulos article:hover{
    background-color: rgb(218, 218, 218);
}

.capitulos article a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    padding: 5px 85% 5px 20px;
}



.capitulos article div{
    width: 18px;
    height: 18px;
    border-radius: 30px;
    margin: 0 5px 0 0;
    background-color: red;
    float: right;
}

    /* .capitulos article a:visited  {
        background-color: green;
    } */



/* Manga manage section */
.userZone {
    float: left;
    height: 1000px;
    margin: 30px 5px 100px 12%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    box-shadow:
    0 0 2px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255),
    0 0 15px rgb(255, 0, 98),
    0 0 12px rgb(255, 0, 98),
    0 0 25px rgb(255, 0, 98),
    0 0 40px rgb(255, 0, 98);

}

.userZone div{
    margin: 20px 10px 10px 20px;
    float: left;
    width: 150px;
}
.userZone div i{
    float: left;
}
.userZone div p{
    margin: 8px 0 0 0;
    font-weight: 900;
}

    /* ---------- */
    .leido{
        color: greenyellow;
    }
    .leido p{
        color: white;
    }
    .leido p:hover{
        color: greenyellow;
    }

    /* ---------- */
    .pendiente{
        color: orange;
    }
    .pendiente p{
        color: white;
    }
    .pendiente p:hover{
        color: orange;
    }

    /* ---------- */
    .siguiendo{
        color: cyan;
    }
    .siguiendo p{
        color: white;
    }
    .siguiendo p:hover{
        color: cyan;
    }
    
    /* ---------- */
    .favorito{
        color: hotpink;
    }
    .favorito p{
        color: white;
    }
    .favorito p:hover{
        color: hotpink;
    }

    /* ---------- */
    .loTengo{
        color: magenta;
    }
    .loTengo p{
        color: white;
    }
    .loTengo p:hover{
        color: magenta;
    }

    /* ---------- */
    .abandonado{
        color: red;
    }
    .abandonado p{
        color: white;
    }
    .abandonado p:hover{
        color: red;
    }





/* Soicial section */
.userSocial{
    margin: 50px 0 0 0;
}

.userSocial h2{
    width: 80%;
    color:  white;
    text-align: center;
    padding: 0 0 10px 0;
    margin: 0 0 10px 10%;
    border-bottom: 10px white solid ;
}

.userSocial a img{
    width: 40%;
    height: 40%;
    margin: 10px 0 20px 20px;
}

.userSocial a img:hover{
    filter: grayscale(50%);
}











/**FOOTER**/
footer{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: black;
    position: relative;
    height: 250px;
}

footer article a{
    text-decoration: none;
    color: white;
}
    footer article a:hover{
        color: #d81444;
    }

footer article h4{
    border-bottom: white 3px solid;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
footer article ul li{
    margin-bottom: 10px;
}


    #website{
        margin-top: 2%;
        position: absolute;
        text-align: center;
        left: 20%;
    
    }

    #explorar{
        margin-top: 2%;
        position: absolute;
        text-align: center;
        left: 34%;
    }

    #siguenos{
        margin-top: 2%;
        position: absolute;
        text-align: center;
        left: 45%;
    }

        #siguenos img{
            height: 50px;
            width: 50px;
        }

    #contenido{
        margin-top: 2%;
        position: absolute;
        text-align: justify;
        width: 20%;
        right: 15%;
    }
        #contenido p{
            margin-bottom: 20px;
        }

#copyright{
    bottom: 5px;
    right: 10px;
    font-size: 90%;
    position: absolute;
    text-align: center;
}



/* ============================================== */
/* ============================================== */
/* ============================================== */
/*--------------------- CAPS ---------------------*/
/* ============================================== */
/* ============================================== */
/* ============================================== */


.pagina{
    /* float: left;
    width: 800px;
    height: 1200px;
    padding: 0 0 10px 30%; */

    /* Evita la descarga/arrastrar/copy¬paste de los capitulos */
    pointer-events: none;
    
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.control{
    position: fixed;
    bottom: 25px;
    right: 0;
    background-color: rgb(0, 0, 0);
    padding: 20px 30px 20px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
}
.adelante{
    color: white;
    margin: 0 30px 0 0;
    font-size: 30px;
}
.menu{
    color: white;
    margin: 0 30px 0 0;
    font-size: 30px;
}
.atras{
    color: white;
    margin: 0 30px 0 0;
    font-size: 30px;
}
.arribaPag{
    color: white;
    margin: 0 0 0 0;
    font-size: 30px;
}







/* ----------------------TABLET / PORTATIL---------------------- */

@media only screen and (max-width: 1440px) {


    h3{
        margin-top: 20px;
    }

    main{
        position: relative;
        top: 40px;
    }

    #mainNav ul{
        padding-bottom: 40px;
    }

    #mainNav ul li a {
        font-size: 15px;
    }

    #search{
        right: 30%;
        top: 60px;
    }


    /* AVATAR */
    .avatar{
        margin-top: 40px;
    }
    .avatar img{
        height: 100px;
        margin: 50px 0 30px 70px;
    }

    .avatar p{
        font-weight: 600;
        top: 200px;
        width: 100%;
        text-align: center;
        padding: 5px 0 5px 0;
    }

    /* Logout bottom */
        #logout{
            top: 32%;
        }



    /* LATERAL DISPLAY */
        #opcionMovil{
            display: none;
        }

        label i{
            font-size: 130%;
            margin: 40px 20px 0 0;
        }

        #cuentaLateral ul{
            width: 30%;
            margin-top: -140px;
        }
        #cuentaLateral ul li{
            font-size: 12px;
            display: block;
            text-align: center;
            clear: both;
        }

        #cuentaLateral ul li:hover{
            background-color:rgb(41, 41, 41);
        }
            /* Content */

        #cuentaLateral ul li a{
            color: white;
            font-size: 110%;
            width: 100%;
            font-weight: 900;
            text-decoration: none;
        }

    #check:checked ~ ul{
        right:0;
    }

    /* Section de portada */
    .portada{
        float: left;
        height: 600px;
        margin: 30px 5px 0 12%;
        width: 75%;
    }

    .portada h2{
        font-size: 25px;
    }

    .portada img{
        margin: 60px 0 0 25%;
    }

    /* Seccion de sinopsis */
    .sinopsis{
        height: 300px;
        margin: 30px 5px 0 12%;
        width: 40%;
    }
    .sinopsis p{
        font-size: 15px;
    }

    .sinopsis h2{
        font-size: 20px;
    }

    
    /* Etiquetas */
    .etiquetas{
        height: 300px;
        margin: 30px 5px 20px 30px;
        width: 30%;
    }
    .etiquetas h2{
        font-size: 20px;
    }

    /* Articulo etiquetas */
    .etiquetas a{
        font-size: 15px;
        margin: 5px 0 5px 20px;
        padding: 5px 20px 5px 20px;
    }

    .etiquetas i{
        font-size: 16px;
    }


    /* seccion Capitulos */
    .capitulos{
        height: 1170px;
    }

    .capitulos article{
        width: 85%;
        margin: 30px 20px 30px 20px;
        height: 30px;
        padding: 10px 0 0 0;
    }
    
    .capitulos article a{
        height: 30px;
        width: 200px;
        margin: 40px 0 0 10px;
        padding: 20px 60% 5px 20px;
    }




    /* User Zone */
    .userZone{
    height: 1170px;
    }
    .userZone div{
        margin: 20px 10px 10px 10px;
    }

    .userZone div p{
        margin: 9px 0 0 0;
    }

    /* Soicial section */
    .userSocial{
        margin: 20px 0 0 0;
    }

    .userSocial h2{
        font-size: 20px;
    }

    .userSocial a img{
        width: 70%;
        height: 9%;
        margin: 0 0 0 15%;
    }



    /**Footer Tablet**/
    footer{
        height: 250px;
    }

    footer article ul li{
        margin-bottom: 12px;
    }
    
        #website{
            font-size: 80%;
            left: 5%;
        }

        #explorar{
            font-size: 80%;
            left: 28%;
        }

        #siguenos{
            font-size: 80%;
            left: 43%;
        }

            #siguenos img{
                height: 50px;
                width: 50px;
            }

        #contenido{
            font-size: 80%;
            left: 75%;
        }
            #contenido p{
                margin-bottom: 20px;
            }

    #copyright{ 
        font-size: 60%;
    }

}

/* ----------------------MOVILES---------------------- */
@media only screen and (max-width: 500px) {


    #mainNav ul li{
        display: none;
    }

    #search{
        top: 40px;
        right: 70px;
    }

    .portada {
        height: 650px;
    }

    .portada img{
        width: 95%;
        margin: 60px 0 0 3%;
    }

    .sinopsis {
        width: 75%;
    }

    .etiquetas {
        height: 220px;
        margin: 30px 5px 20px 12%;
        width: 75%;
    }

    .capitulos {
        margin: 10px 5px 100px 12%;
        width: 75%;
    }

    .capitulos article a{
        padding: 5px 50% 5px 20px;
    }

    .userZone {
        margin: 0px 5px 20px 12%;
        width: 75%;
        height: 450px;
    }

    .userZone div{
        margin: 20px 0 0 5px;
    }
    .userSocial a img {
        width: 20%;
        height: 9%;
        margin: 10px 0 0 9%;
    }

    /**Footer Movil**/
        footer{
            z-index: 3;
            float: left;
            clear: both;
            height: 450px;
        }

        footer article ul li{
            margin-bottom: 12px;
        }
        
            #website{
                font-size: 80%;
                left: 0%;
                margin-left: 40px;
            }

            #explorar{
                font-size: 80%;
                left: 0%;
                margin-left: 300px;
            }

            #siguenos{
                font-size: 80%;
                left: 0%;
                margin: 180px 0 0 40px;
            }

                #siguenos img{
                    height: 50px;
                    width: 50px;
                }

            #contenido{
                font-size: 80%;
                left: 0%;
                margin: 180px 0 0 300px;
            }
                #contenido p{
                    margin-bottom: 20px;
                }

        #copyright{ 
            font-size: 60%;
        }
}